* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;

}

.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Amatic SC;
  font-size: 3rem;
  transition: all 1s;
}

.panel :first-child {
  transform: translateY(-200px);
}

.panel :last-child {
  transform: translateY(200px);
}


.panel:hover {
  flex-grow: 3;
}

.panel.open-active :first-child {
  transform: translateY(0);
}

.panel.open-active :last-child {
  transform: translateY(0);
}


/* images :start */
.panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}

.panel2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}

.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}

.panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}

.panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

/* images end   */